body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

.left-container {
  flex: 1;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
}

.right-container {
  flex: 3;
  flex-direction: column;
  display: flex;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.form-row {
  display: flex;
  margin-bottom: 10px;
}

.form-row > div {
  flex: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.form-row:last-child {
  margin-bottom: 0;
}

input[type="text"],
input[type="password"] {
  width: 50%;
}
label {
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
}
